@model IEnumerable<CSharp_ASPNET_MVC_CRUD_SQL.Models.Roles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}

<h1 class="ui header">Roles Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="ui teal celled striped table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_role }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_role }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_role })
            </td>
        </tr>
        }
    </tbody>
</table>
